<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js"></script>
    <title>Document</title>
</head>
<body>
    아이디 : <input type="text" id="id" name="id" placeholder="아이디 입력"> <br>
    비밀번호 : <input type="text" id="password" name="password" placeholder="비밀번호 입력">
    <button id="btn" type="button">전송</button>
</body>
</html>